.slider-nav-light .flickity-page-dots .dot {
    border-color: #f2f3f1;
    background-color: #f2f3f1;
    box-shadow: inherit;
}

.whykeekiBlock{}
.whykeekiBlock .featured-box{text-align: center;}
.whykeekiBlock .featured-box img{display: inline-block; margin-bottom: 10px;}

.subscribeBlock{
  text-align: center; background-color: #70c3d9; color: #fff; 
  font-weight: 400; font-size: 18px; padding: 20px 15px; display: none;
}

.product-gallery .entry-title{display: none; text-align: center;}

.lessPrice{color: #909090; padding-top: 20px; font-size: 30px; font-weight: 700;}
.lessPrice .priceFirst{text-decoration: line-through;}

.addCart{}
.addCart label{ float: left; line-height: 45px; margin-right: 15px; font-size: 20px; display: none;}

#newsletter-signup-link .ninja-forms-all-fields-wrap{background-color: #89cce2;}
#newsletter-signup-link .text-wrap input{adding: 10px; font-size: 14px;}
#newsletter-signup-link .button-wrap input[type="submit"] {
  background-color: #5aa9be; margin-top: 23px !important; 
  padding: 12px 0; text-align: center; font-size: 14px;
}

.footer-2 .textwidget a{ display: block;}

.mob-show{display: none;}

.mmenu-close{text-align: right;}
.mmenu-close a{font-size: 24px; padding: 5px; text-align: center; width: 38px; display: inline-block; font-weight: 400; background: #fff;}
.extraPrice {float: left; width: 100%; display: none; padding: 6px 0;}
.removeBtn{display: none;}

.coupon .input-text{width: 100%; max-width: 500px; float: left;}

@media only screen and (max-width: 993px){

.coupon .input-text{ max-width: 300px;}

}

@media only screen and (max-width: 767px){

#masthead #logo {
     width: auto !important; 
    margin: 0 auto;
    float: none;
    max-width: 100%;
}

/*--- Mobile Menu Top Close Icon Style ---*/
  html.push-left #wrapper #top-bar {display: none !important;}
  html.push-left #wrapper .subscribeBlock {display: none !important;}
  html.push-left #logo a{padding-top: 2px !important;}
  html.push-left #logo a img { max-height: inherit !important; padding: 0px 0; width: 105px !important;}
  html.push-left #masthead {height: 64px;}
  html.push-left .mobile-sidebar {padding: 0px 0 100px; }
  .mfp-bg.mfp-ready { opacity: 0 !important;}
  #masthead.stuck.move_down { height: 64px !important;}
  #masthead.stuck.move_down #logo a img { max-height: inherit !important; padding: 0px 0; width: 105px !important;}
  .mfp-wrap{top: 134px; padding-top: 134px;}
  .off-canvas .mfp-content, .off-canvas.mfp-ready.mfp-removing .mfp-content{top: 130px; box-shadow: inherit;}

  #masthead .mobile-menu { position: relative; height: 20px;}
  #masthead .mobile-menu a{padding: 0 0 30px;}
  .off-canvas-overlay { position: relative;}
  .off-canvas-overlay .icon-menu, .off-canvas-overlay .icon-menu:after, .off-canvas-overlay .icon-menu:before { width: 24px; height: 2px; background: #fff; display: block;}
  .off-canvas-overlay .icon-menu {position: relative; transform: translateY(6px); background: #fff; transition: all 0ms 300ms;}
  
  .off-canvas-overlay .icon-menu:before {
    content: "" !important; position: absolute;  left: 0; bottom: 8px;   background: #fff;
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1)
  }
  .off-canvas-overlay .icon-menu:after {
    content: "" !important; position: absolute;  left: 0; top: 8px; background: #fff;
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1)
  }
  html.push-left #wrapper .off-canvas-overlay .icon-menu {background: rgba(255,255,255,0)}
  
  html.push-left #wrapper .off-canvas-overlay .icon-menu:after {
    top: 0; transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1)
  }
  html.push-left #wrapper .off-canvas-overlay .icon-menu:before {
    bottom: 0; transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1)
  }
/*--- End Style ---*/


   .desktop-hide{display: none;}
  .mob-show{display: block;}

  #top-link {
      color: #89cce2;    
      width:60px; height:60px; line-height:60px; 
      background-color: #fff; border-radius: 100%;
      box-shadow: 0 4px 8px 0 #C3C3C3;
      display: inline-block !important;
  }

  .flickity-viewport .ux_banner { height: 400px !important;}

  .ux-row-slider .flickity-prev-next-button { width: 30px !important; }

  .flickity-prev-next-button svg, .flickity-prev-next-button .arrow { fill: #89cce2;}

  .four_ux_banner{ width: 50%; margin-bottom: 30px !important;}

  .whykeekiBlock .featured-box{ margin-bottom: 40px;}

  .home-blog-list h3.section-title.title_center{margin-bottom: 0px; border-bottom: 1px solid #ececec;}
  .home-blog-list .home-blogBlock{ background-color: #f9f9f9; margin-bottom: 50px; padding-top: 30px;}
  .home-blog-list .home-blogBlock .post-date{display: none;}
  .home-blog-list .home-blogBlock .ux-row-slider .flickity-prev-next-button.previous{top: inherit !important; left: 40%;}
  .home-blog-list .home-blogBlock .ux-row-slider .flickity-prev-next-button.next{top: inherit !important; right: 40%;}

  .subscribeBlock{ display: block;}

  .product-gallery .entry-title{display: block;}
  .product-image{text-align: center;}
  .lessPrice{text-align: center;}

  .product-info{text-align: center;}
  .product-info .short-description{text-align: left;}
  .product-info h1{display: none;}

  .tabbed-content{margin-top: 40px;}
  .tabbed-content ul.tabs{background-color: #f3f5f6;}
  .tabbed-content ul.tabs li{width: 25%; text-align: center; float: left; display: table;}
  .tabbed-content ul.tabs li a{ 
    height: 70px; padding: 15px 5px; margin-right: 0; font-size: 14px; font-weight: 500; 
    display: table-cell; vertical-align: middle; border-top: 0; border-bottom: 4px solid transparent;
  }
  .tabbed-content ul.tabs li a:hover {border-color: #89cce2}
  .tabbed-content ul.tabs li.active a, .tabbed-content ul.tabs li.current_page_item a { border-color: #89cce2;}


  form.cart.addCart { width: 100%;}
  .addCart label{ display: block;}
  .addCart .quantity.buttons_added .minus, 
  .addCart .quantity.buttons_added .plus{border: 0px;}
  .addCart .quantity .input-text.qty {font-size: 18px; font-weight: 400; border: 0px solid #869498; background-color: #f1f1f1;}

  #rp_shipping_calculator { max-width: 100%;}
  #rp_shipping_calculator .rp_shipping_button .btn_shipping{width: 100%; display: block; border: 3px solid #89cce2 !important; color: #89cce2 !important;}
  #rp_shipping_calculator .rp_shipping_button .btn_shipping:hover{color: #fff !important; background-color: #89cce2 !important;}

  .addCart .single_add_to_cart_button {max-width: 100% !important;}

  .product-small .info .add-to-cart-button .button.small{width: 90%; background-color: #89cce2 !important; color: #fff !important; font-size: 14px;}
  .product-small .info .add-to-cart-button .button.alt-button:hover {    
      border: 3px solid #869498 !important;
      background-color: #869498 !important;
  }

  .product-info .social-icons{display: none;}


  .shop_table td.product-quantity .quantity.buttons_added .minus, 
  .shop_table td.product-quantity .quantity.buttons_added .plus{border: 0px; padding: 7px 10px 8px; width: 32px;}
  .shop_table td.product-quantity .quantity .input-text.qty {font-size: 18px; font-weight: 400; border: 0px solid #869498; background-color: transparent;}

  .quantity.buttons_added .minus:hover, .quantity.buttons_added .minus:focus, .quantity.buttons_added .plus:hover, .quantity.buttons_added .plus:focus {
      background-color:transparent;
      color: #89cce2; outline: none;
  }

  .button-continue-shopping.button.small {border: 0px !important; color: #b7cacf;}

  a.shipping-calculator-button, .cart-sidebar input[type="submit"].small {
      background-color: #89cce2;
      border: 3px solid #89cce2 !important;    
      color: #fff;    
  }

  /*.mobile-sidebar li a{color: #89cce2 !important; }*/
  #jPanelMenu .mobile-main-menu li:nth-child(4):not(.sub-menu) a {
    color: #89cce2 !important;
    opacity: 1;
  }
  .social-icons .icon{opacity: 1;}

  .top-bar-mob .social-icons{text-align: left;}
  .top-bar-mob .social-icons .icon, .top-bar-mob .yith-wcwl-share li a{
    border-radius: 4px; margin: 0 5px 9px 0; width: 30px !important;}

  .shop_table .shipping th{vertical-align: top;}
  .shop_table .shipping td{padding: 10px;}
  .cart_totals td {padding: 10px;}

  .calculated_shipping .shop_table{background-color: #f3f5f6; margin-top: 0px;}
  .calculated_shipping h2{background-color: #f3f5f6; margin-bottom: 0px;}

  .footer-1{display:none;}

  .footer-2 { background-color: #89cce2 !important; }
  .footer-2 h3,  .footer-2 .widget-title,
  #footer .footer.footer-2 .widget-title { border-top: 4px solid #fff; color: #fff !important; padding-top: 15px;}
  .footer-2 p {color: #fff; width: 100%; font-weight: 400; line-height: 22px; font-size: 16px;}
    .footer-2 p:last-child{margin-bottom: 0px;}

  .footer-2 .textwidget a,
  .footer.footer-2 #block_widget-7 a{    
      color: #fff !important; 
      font-size: 15px; 
      font-weight: 400;
      border-bottom: 1px solid #fff; 
      display: block;
      padding: 15px 0;
  }
  .footer-2 .textwidget a:visited,
  .footer.footer-2 #block_widget-7 a:visited,
  .footer.footer-2 #block_widget-7 a:hover,
  .footer.footer-2 #block_widget-7 a:focus { color: #fff; font-size: 15px; font-weight: 400;}

  .absolute-footer{background-color: #70c3d9 !important; font-weight: 400;}

  .off-canvas .mfp-content, .off-canvas.mfp-ready.mfp-removing .mfp-content{width: 100% !important;  max-width: 600px !important;}
  .mobile-sidebar .search { padding: 10px; }   
  .search-wrapper input[type="search"] { height: 50px; }

  #newsletter-signup-link .text-wrap{width: 70% !important;}
  #newsletter-signup-link .button-wrap{width: 30% !important;}

  .os-search-box-index-icon{
    z-index: 1000 !important;
  }
  .os-e{
    z-index: 1000 !important;
  }

  .mfp-bg{
    z-index: 100000001 !important;
  }
  .mfp-wrap{
    z-index: 100000002 !important;
  }

  .shop_table .product-price, 
  .shop_table .product-remove, 
  .shop_table .product-subtotal{
   /* display: none !important; */
  }
  .shop_table .product-quantity{text-align: right;}

  .extraPrice{display: block; padding-bottom: 5px; color: #232728; padding-top: 10px;}
  .removeBtn{display: block; font-weight: 500;}

  .coupon .input-text{width: 100%; max-width: inherit;}
}

@media only screen and (max-width: 600px){  
  
  .flickity-viewport .ux_banner { height: 300px !important;}
  .flickity-viewport .ux_banner h4{margin: 10px 0 0;}
  .four_ux_banner{ /*width: 100%;*/ margin-bottom: 15px !important;}  
  #top-bar{display: none;} 

  .four_ux_banner .hover_zoom p { font-size: 14px; font-weight: 300; line-height: 18px;}
  .four_ux_banner .hover_zoom h4 { font-size: 20px; line-height: 20px;}
  .four_ux_banner .ux_banner { max-height: 162px !important; }

  .flickity-page-dots .dot { height: 12px; width: 12px;}

  /*.product-small .info .add-to-cart-button .button.small{width: 100%;}*/

  .small-block-grid-2 > div > div > li {width: 100%;}

  h3.section-title.title_center { font-size: 22px;}

  .flickity-slider .post-item h3 { color: #000; margin-bottom: 1em; margin-top: 1em;}
  .flickity-slider .post-item p { color: #000; }  

  .product-gallery h1.entry-title{font-size: 20px; font-weight: 600;}

  .cart-sidebar input[type="submit"].small {
    width: 100%; font-size: 16px; font-weight: 700;
    line-height: 18px; padding-top: 12px;
    padding-bottom: 12px; height: 46px;
  }

  .product-small .info .add-to-cart-button .button.small{
    width: 100%; font-size: 12px !important; 
    padding: 9px 5px 12px !important;
  }

  .quantity .input-text.qty { width: 30px;}
  span.removeBtn {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hover_zoom h4 em{
  font-size: 22px !important;
}


}

@media only screen and (max-width: 480px){  
  
  .flickity-viewport .ux_banner { height: 200px !important;}
  .flickity-page-dots .dot { height: 12px; width: 12px;}

  .hover_zoom h4 em{
  font-size: 20px !important;
}
.four_ux_banner .hover_zoom h4{margin: 0px !important;}
.four_ux_banner .hover_zoom p{margin-bottom: 0px !important;
}

}


@media only screen and (max-width: 48em){
    #masthead .mobile-menu {
        width: 30px;
    }
}




#zip-tagline {
    margin-bottom: 10px !important;
    float: none !important;
    width: 100%;
    display: inline-block !important;
}
ul.payment_methods li label {
    text-transform: capitalize;
}

.ShowOnMobileOnly .featured-box { text-align: center !important; margin-bottom:35px !important;}
.ShowOnMobileOnly{ display:none !important;}
.ShowOnlyonMobile{
    padding-right: 0px;
    padding-left: 0px;
    display:none !important;
}

#block-mobile-slider #phoneSlider .ux-slider {
    margin-bottom: 0px !important;
}
#block-mobile-slider #phoneSlider {
    margin: 0px !important;
    min-height: 200px !important;
}

#block-mobile-slider #phoneSlider .ux-img-container img {
    height: 100% !important;
    width: 100%;
}

.wnd-checkout-message b {
    color: #89cde3;
    text-transform: uppercase;
}

.wnd-checkout-message {
    padding-bottom: 10px;
}

.woocommerce-info{
line-height:1.2;
}
.woocommerce-info b {
    color: #89cde3;
    text-transform: uppercase;
}

@media(max-width:767px){
.ShowOnDesktopOnly{display:none !important;}
.ShowOnMobileOnly{ display:block !important;}
#whykeeki .columns:nth-child(3) .featured-box {
    margin-bottom: 0px !important;
}
.ShowOnlyonMobile{display:block !important;}
}















